/* Your Website Styles */


html {
font-family: 'Noto Serif', serif;
line-height: 2.0em;
margin-bottom: 1em;
text-decoration: none;
background: url("bg.png");
background-repeat: repeat;
}

span {
    padding-right: 50px;

}

.global-nav {
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    width: 100%;
    background: #802A00;
    line-height: 5px;
    white-space: nowrap;
    min-width: 30px;
}

.container {
    background: #802A00;
    position: relative;
/*    min-height: 210px;*/
    border-radius: 10px;
    
/*    left: 50%;
    margin-left: -444px;*/
    margin-top: 100px;
    box-shadow: 0px 0px 50px 10px rgba(68, 68, 68, .8);
}
 
.alpha {
margin-top: 10px;
margin-bottom: 0px;
margin-left: 5px;
margin-right: 25px;
}
 .content {
    margin-top: 50px;

}
.center-content {
    padding: 10px 0 10px 74px;
}

h1 {
    font-family: 'Noto Serif', serif;
   text-align: center;
    font-size: 1.875em;
}
h2{
    font-family: 'Noto Serif', serif;
    font-size: 1.75em;
}
h3{
    font-family: 'Noto Serif', serif;
    font-size: 1.625em;
}

p{
    font-family: Verdana, sans-serif;
    font-size: 1.375em;

a {
    color: #BFFFFE;
    text-decoration: none;
    }
}

h1 ~ span {
    color: #008080;
}

 .bottom-margin {
    margin: 50px;
}

*/